<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/javascript/d3.js"></script>


    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>D3 Bar Chart</title>
</head>

<body>
    <header>
        <a href="/">
            <h1>Nachhaltigkeit: Umwelteinfluss von Fleisch</h1>
        </a>
        <div id="menu"><a href="/1">Co2 Emissionen nach Sektor</a><a href="/2">Co2 Emissionen nach
                Produkt</a><a href="/3">Globale Fleischproduktion</a><a href="/4">Fleischproduktion
                nach Land</a></div>
    </header>
  {{{body}}}
</body>

</html>