 <main>
        <h1>Globale Co2 Emissionen nach Sektor im Jahr 2014</h1>
        <div class="two_col">
            <svg id="sankeyDiagram" width="1500" height="800"></svg>

            <div id="showvalue">


            </div>
        </div>


    </main>
    <script src="https://cdn.jsdelivr.net/npm/d3-sankey@0.12.3/dist/d3-sankey.min.js"></script>

    <script src="/javascript/1.js"></script>