<main>
  <div class="two_col">
    <div>
      <h2>Co2 Emissionen die Pro Kilo in der Herstellung freigesetzt werden
        (2018)</h2>

      <div id="d3"></div>
    </div>
    <div id="interact outline">
      <h2 id="name"></h2>
      <div id="total"></div>
      <div id="showvalue">
      </div>
      <div id="legend">
      </div>

    </div>
  </div>

</main>
<script src="/javascript/2.js" type="module"></script>