<main>
        <h1>Globale Co2 Emissionen nach Sektor im Jahr 2018</h1>
        <div class="two_col">
            <div id="d3"></div>

            <div id="interact outline">
                <h2 id="name"></h2>
                <div id="total"></div>
                <div id="showvalue">
                </div>
                <div id="legend">
                </div>

            </div>
        </div>


    </main>
    <script src="/javascript/2.js"></script>