<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/javascript/d3.js"></script>

    <title>D3 Bar Chart</title>
</head>

<body>
    <header>
        <a href="/">
            <h1>Nachhaltigkeit: Umwelteinfluss von Fleisch</h1>
        </a>
        <div id="menu"><a href="/co2_sektor">Co2 Emissionen nach Sektor</a><a href="/co2_product">Co2 Emissionen nach
                Produkt</a><a href="/total_meat">Globale Fleischproduktion</a><a href="/produce_meat">Fleischproduktion
                nach Land</a></div>
    </header>
    <main>
        <div class="two_col">
            <div>
                Fleischproduktion in Tonnen von 2018
                <div id="my_dataviz"></div>
            </div>
            <div id="interact">

                <div class="interact-sub" id="outline">
                    <h2 id="interact-h2"></h2>
                    <div class="interact-box">
                        <p>Verbauch in Tonnen</p>
                        <div id="interact-total"></div>
                    </div>
                    <div class="interact-box">
                        <p>Emissionen pro Tonne</p>
                        <div id="interact-kg"></div>
                    </div>

                    <div class="interact-box">
                        <p>Emissionen gesamt</p>
                        <div id="interact-sum"></div>
                    </div>
                </div>
                <div class="interact-sub" id="outline">
                    <h2>Global (52.300.000.000t)</h2>
                    <div id="food_sector"></div>
                </div>


            </div>


    </main>
    <script src="/javascript/3.js"></script>

</body>

</html>