<main>
        <h1>Fleischhertellung nach Land</h1>
        <button onclick="update('SheepAndGoat')">Schafsfleisch</button>
        <button onclick="update('BeefAndBuffalo')">Rindfleisch</button>
        <button onclick="update('Pig')">Schweinefleisch</button>
        <button onclick="update('Poultry')">Geflügelfleisch</button>
        <button onclick="update('Total')">Insgesamt</button>
        <div class="two_col">
            <div id="d3">
                <svg width="1500" height="800"></svg>
            </div>

            <div id="outline">
                <div id="interact"></div>
            </div>


    </main>
    <script src="/javascript/4.js"></script>