<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/javascript/d3.js"></script>


    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>D3 Bar Chart</title>
</head>

<body>
    <header>
        <a href="/">
            <h1>Nachhaltigkeit: Umwelteinfluss von Fleisch</h1>
        </a>
        <div id="menu"><a href="/co2_sektor">Co2 Emissionen nach Sektor</a><a href="/co2_product">Co2 Emissionen nach
                Produkt</a><a href="/produce_meat">Produce Meat</a><a href="#">Slide4</a></div>
    </header>
    <main>
        <h1>Globale Co2 Emissionen nach Sektor im Jahr 2014</h1>
        <div class="two_col">
            <div id="d3"></div>

            <div id="interact">
                <div id="total"></div>
                <div id="showvalue">


                </div>
                <div id="legend">

                </div>

            </div>
        </div>


    </main>
    <script src="/javascript/product.js"></script>
</body>

</html>