<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>D3 Bar Chart</title>
</head>

<body>
    <header>
        <a href="/">
            <h1>Nachhaltigkeit: Umwelteinfluss von Fleisch</h1>
        </a>
        <div id="menu"><a href="/co2_sektor">Co2 Emissionen nach Sektor</a><a href="/co2_product">Co2 Emissionen nach
                Produkt</a><a href="/produce_meat">Produce Meat</a><a href="#">Slide4</a></div>
    </header>
    <main>
        <div class="two_col">

            <div>
                Das Thema Fleisch steht in der heutigen Zeit im Fokus zahlreicher Diskussionen und Debatten,
                insbesondere wenn es um Nachhaltigkeit geht. Fleischkonsum und dessen Auswirkungen auf die Umwelt sind
                zu einem wichtigen Anliegen vieler Menschen weltweit geworden. Während Fleisch für viele eine bedeutende
                Proteinquelle und kultureller Bestandteil der Ernährung ist, werden die ökologischen Folgen der
                Massentierhaltung und der Fleischproduktion zunehmend sichtbar. Die Nachhaltigkeit des Fleischkonsums
                wird daher zu einer zentralen Fragestellung, die sowohl individuelle Entscheidungen als auch
                gesellschaftliche Veränderungen erfordert. In diesem Text werden wir die verschiedenen Aspekte der
                Nachhaltigkeit im Zusammenhang mit Fleisch beleuchten und mögliche Lösungsansätze für eine nachhaltigere
                Fleischproduktion und -konsum aufzeigen.

            </div>
        </div>


    </main>
</body>

</html>