<main>
  <div class="two_col">
    <div>

      <h2>Zusammenfassung</h2>
      <p>Die Produktion von Gefl端gelfleisch ist seit 1961 um 1348% gestiegen.</p><br
      />
      <p>Die Herstellung von 1 Tonner Rindfleisch verursacht fast 100 Tonnen Co2
        Emissionen.</p><br />
      <p>Rind, Schwein, Gefl端gel und Lamm machen ca. 1/4 der globalen Co2
        Emissionen aus.
      </p><br />
      <p>Die Herstellung von Rindfleisch ist f端r 17,89% der globalen Co2
        Emissionen verantwortlich.</p>
    </div>
    <div>
      <h2>Fazit</h2>
      <p>Aus gesundheitlichen Gr端nden kann 100% auf Fleisch verzichtet werden!</p><br
      />
      <p>Wenn Fleisch, kein Rindfleisch.</p>
    </div>
  </div>
</main>